
:root {
  --primary: rgb(32,99,230); /* blue */
  --primary-light: rgba(32,99,230, 0.7); /* light blue */
  --primary-lightest: rgba(32,99,230, 0.9);
  --grey-dark: rgb(101,101,101) ;
  --grey-light: rgb(236,236,236);
  --white: rgb(255,255,255);
}

html {
  /* border-box box model allows us to add padding and border to our elements without increasing their size */
  box-sizing: border-box;
  /*text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);*/
}

/*
  Inherit box-sizing: border-box; from our <html> selector
*/
*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: Lato;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--white);
  background-size: 340px, auto;
  background-attachment: fixed;
  letter-spacing: 1px;
  width: 100vw;
}

a {
  text-decoration: none;
}

button {
  border-style: none;
  cursor: pointer;
}

.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
}

/* NAVIGATION */

#navigation {
  display: grid;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.15);
  z-index: 2;
  background-color: var(--white);
  top: 0;
}

.nav-item {
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 400;
  color: var(--grey-dark);
}

.nav-item:hover, .nav-item:active{
  color: var(--primary);
}

.logo {
  display: grid;
  align-items: center;
  color: var(--primary);
  font-size: 32px;
  font-weight: 600;
}

#menu, #menu-close{
  visibility: hidden;
}



/* HEADER */

#header {
  position: relative;
  display: block;
  height: calc(100vh - 80px);
  width: 100%;
  background-size: cover;
  background-position: top;
  z-index: 1;
}

.btn {
  cursor: pointer;
}

.slogan {
  position: relative;
  display: block;
  font-weight: 300;
  color: var(--primary);
}

.btn-certify-me {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 400;
  border-style: solid;
  color: var(--white);
  border-color: var(--white);
}

#certifications {
  position: relative;
  width: 80%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.section-title {
  text-align: center;
  margin: 100px 0px 50px 0px;
  font-size: 64px;
  font-weight: 600;
  color: var(--primary);
}

/*  CERTIFICATIONS  */
.topics {
  display: grid;
  grid-gap: 30px;
  justify-items: center;
}

.topic {
  display: grid;
  background-size: cover;
  background-position: center;
  text-align: center;
  align-content: center;
  width: 300px;
  height: 200px;
  font-size: 32px;
  color: var(--white);
  font-weight: 500;
  cursor: pointer;
}

.topic:hover {
  transform: rotate(2deg);
  font-size: 34px;
  font-weight: 600;
}

/*  TOPICS  */

#sports {
  background-image: linear-gradient( 45deg,  rgba(5, 107, 30, 0.7), rgba(23, 211, 133, 0.9)), url(img//cert-bg//sports.jpg);
}

#calculator {
  background-image: linear-gradient( 45deg, rgba(67, 23, 211, 0.7), rgba(120, 23, 211, 0.9)), url(img//cert-bg//calculator.jpg);
}

#wiseguy {
  background-image: linear-gradient( 45deg, rgba(23, 198, 211, 0.7), rgba(23, 158, 211, 0.9)), url(img//cert-bg//wiseguy.jpeg);
}

#hipster {
  background-image: linear-gradient( 45deg, rgba(211, 208, 23, 0.8), rgba(211, 129, 23, 0.9)), url(img//cert-bg//hipster.jpeg);
}

#boomer {
  background-image: linear-gradient( 45deg, rgba(0, 81, 255, 0.7), rgba(23, 73, 211, 0.9)), url(img//cert-bg//boomer.jpeg);
}

#alpha {
  background-image: linear-gradient( 45deg, rgba(211, 23, 23, 0.7), rgba(211, 67, 23, 0.9)), url(img//cert-bg//alpha.jpeg);
} 

#photosynthesis {
  background-image: linear-gradient( 45deg, rgba(23, 211, 64, 0.7), rgba(23, 211, 123, 0.9)), url(img//cert-bg//photosynthesis.jpg);
} 

/*   ABOUT   */

#about, #contact {
  position: relative;
  display: block;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  align-items: center;
}

.about-body {
  text-align: justify;
  position: relative;
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  color: var(--grey-dark);
}

.bold {
  display: inline;
  font-weight: 600;
  color: var(--primary); 
}

/*   CONTACT   */

.contact-form {
  display: block;
  font-size: 18px;
  width: 80%;
  margin-left: 50%;
  transform: translate(-50%, 0%);
}

.form-input {
  display: inline;
  font-size: inherit;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 5px;
  border-color: var(--grey-dark);
  color: var(--grey-dark);
}

.form-text-area:focus, .form-input:focus {
  outline: none;
  border-color: var(--primary);
}

.form-input[type=text],
.form-input[type=email] {
  border-style: solid;
  padding: 8px 18px 8px 18px;
  border-width:  1px;
}

.form-input[type=submit] {
  width: 20%;
  margin-left: 50%;
  transform: translate(-50%, 0%);
  padding: 8px 8px 8px 8px;
  background-color: var(--white);
}

.form-input[type=submit]:hover {
  border-color: var(--grey-dark);
  background-color: var(--grey-dark);
  color: var(--white);
}

.form-text-area {
  display: block;
  border-style: solid;
  border-color: var(--grey-dark);
  color: var(--grey-dark);
  border-width:  1px;
  border-radius: 5px;
  padding: 8px 18px 8px 18px;
  font-size: inherit;
  width: 100%;
}

.form-row {
  margin: 25px auto;
}

/*  Footer  */
footer {
  padding: 100px 0px 100px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 20vw;
  margin-left: 50%;
  transform: translate(-50%, 0%);
}

#facebook-link, #instagram-link, #twitter-link {
  background-size: 40px 40px;
  background-color: var(--grey-dark);
  width: 40px;
  height: 40px;
}

#facebook-link:hover, #instagram-link:hover, #twitter-link:hover {
  background-color: var(--primary);
}

#facebook-link {
  -webkit-mask-image: url(icons//logo-facebook.svg);
  mask: url(icons//logo-facebook.svg) no-repeat 50% 50%;
}

#instagram-link {
  -webkit-mask-image: url(icons//logo-instagram.svg);
  mask: url(icons//logo-instagram.svg) no-repeat 50% 50%;
}

#twitter-link {
  -webkit-mask-image: url(icons//logo-twitter.svg);
  mask: url(icons//logo-twitter.svg) no-repeat 50% 50%;
}

.footer-item {
  display: grid;
  display: inline-block;
  margin-left: 50%;
  transform: translate(-50%, 0%);
}


/*   QUIZ   */

#certification-quiz-screen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background-color: rgba(36, 36, 36, 0.9);
  bottom: 0;
  position: sticky;
  position: -webkit-sticky; /* Safari */
}


#certification-quiz {
  position: relative;
  height: 90%;
  width: 65%;
  background-color: var(--white);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#title-box, #question-box, #results-box {
  width: 80%;
  position: absolute;
  margin: 5% 15% 5% 15%; 
}

#quiz-title, #question-title, #results-title {
  display: block;
  font-weight: 600;
  font-size: 48px;
  color: var(--primary);
}

#quiz-description, #question-description, #results-description{
  margin-top: 5%;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: var(--grey-dark);
}

#button-start, #button-next, #results-download, #dumbass-download {
  display: block;
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 400;
  padding: 10px 30px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--primary);
  background-color: var(--white);
  color: var(--primary);
}

#button-start:hover, #button-next:hover, #results-download:hover {
  background-color: var(--primary);
  color: var(--white);
}
#options-box {
  margin-top: 5%;
  display: grid;
}

.option-box {
  margin: 0px 0px 18px 0px;
  color: var(--grey-dark);
  font-weight: 400;
}

.option-text, .option-selector {
  display: inline;
  font-size: 18px;
  line-height: 24px;
  font-weight: inherit;
  color: inherit;
  cursor: pointer;
}

.option-text {
  margin-left: 18px;
  white-space: pre-wrap;
}

#close {
  margin: 5% 0% 0px 95%;
  transform: translate(-50%, -50%);
  width: 25px;
  height: 25px;
  position: absolute;
  display: block;
  z-index: 2;
  -webkit-mask-image: url(icons//close.svg);
  mask: url(icons//close.svg) no-repeat 50% 50%;
  background-size: 25px 25px;
  background-color: var(--grey-dark);
}



.option-text:before {
  color: var(--grey-dark);
}

.option-box:hover {
  color: var(--primary);
}

.selected {
  color: var(--primary);
  font-weight: 600;
}

/* ----------------------------- smart phones (portrait and landscape) ------------------------ */
@media only screen and (min-width : 320px) and (max-width : 766px) {
  
  #navigation {
    grid-gap: 0px;
    width: 100vw;
    grid-template-rows: 2fr 1fr 1fr 1fr 40%;
    padding: 10px 5% 10px 5%;
    height: 60px;
  }
  
  .nav-item {
    visibility: hidden;
    font-size: 18px;
    font-weight: 400;
    margin-top: 0vh;
    color: var(--primary);
  }
  
  .logo {
    font-size: 18px;
    transform: translate(0%, 50%);
  }

  .logo-nav-open {
    visibility: hidden;
  }

  #menu {
    display: grid;
    visibility: visible;
    position: absolute;
    left: calc(95% - 15px);
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    -webkit-mask:  url(icons//menu.svg) no-repeat 50% 50%;
    mask: url(icons//menu.svg) no-repeat 50% 50%;
    background-size: 30px 30px;
    background-color: var(--primary);
    cursor: pointer;
  }

  #menu-close {
    position: absolute;
    left: 50%;
    bottom: 25%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    -webkit-mask:  url(icons//close.svg) no-repeat 50% 50%;
    mask: url(icons//close.svg) no-repeat 50% 50%;
    background-size: 30px 30px;
    background-color: var(--primary);
    cursor: pointer;
  }

  .nav-screen-open {
    height: 100vh !important;
  }

  .nav-item-open {
    visibility: visible !important;
  }


  #header {
    height: calc(90vh - 60px);
    background-image: url(img//thumbs_up/thumbs_up_mobile.png);
    background-position: bottom;
  }
  
  .slogan {
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 25%;
    width: 300px;
    font-size: 64px;
  }

  .btn-certify-me {
    bottom: 5%;
    padding: 10px;
    font-size: 32px;
    border-width: 2px;
    font-size: 18px;
  }

  .section-title {
    text-align: center;
    margin: 100px 0px 25px 0px;
    font-size: 40px;
  }

  #certifications { 
    width: 80%;
  }

  .topics { margin: 0px; }

  .topic {
    width: 200px;
    height: 130px;
    font-size: 24px;
  }

/*   ABOUT   */

#about, #contact {
  width: 90%;
}

.about-body {
  margin: 0% 5% 0 5%;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  text-align: left;
}

/*   CONTACT   */

.contact-form {
  font-size: 14px;
}

.form-input[type=text],
.form-input[type=email] {
  padding: 8px 14px 8px 14px;
}

.form-text-area {
  padding: 8px 14px 8px 14px;
}

.form-row {
  margin: 20px auto;
}

/*  Footer  */
footer {
  padding: 60px 0px;
  width: 60vw;
  left: 50%;
  transform: translate(-50%, 0%);
}

  /*  QUIZ SCREEN  */
  #certification-quiz-screen {
    background-color: var(--white);
  }

  #certification-quiz {
    height: 100%;
    width: 100%;
  }
  #title-box, #question-box, #results-box {
    margin: 10% 10% 30% 10%; 
  }
  
  #quiz-title, #question-title, #results-title {
    font-size: 32px;
  }
  
  #quiz-description, #question-description, #results-description{
    margin-top: 5%;
    font-size: 14px;
    line-height: 21px;
  }
  
  #button-start, #button-next, #results-download, #dumbass-download {
    top: 70vh;
    font-size: 24px;
  }
  
  #options-box {
    margin-top: 5%;
  }
  
  .option-box {
    margin: 0px 0px 14px 0px;
  }
  
  .option-text, .option-selector {
    font-size: 14px;
    line-height: 21px;
  }
  
  .option-text {
    margin-left: 14px;
  }
  
  #close {
    margin: 90vh 0% 0px 50%;
    width: 25px;
    height: 25px;
    background-size: 25px 25px;
  }
  
  #button-start:hover, #button-next:hover, #results-download:hover, #dumbass-download:hover {
    color: var(--grey-dark);
    font-weight: 400;
  }
  
}

/* -------------------------------- iPads (portrait and landscape) ---------------------------------------- */
@media only screen and (min-width : 767px) and (max-width : 1023px) {

  #navigation {
    grid-gap: 10px;
    grid-template-columns: 50% 1fr 1fr 1fr;
    padding: 25px 20px 25px 20px;
    height: 80px;
  }

  .nav-item {
    font-size: 14px;
  }
  
  .logo {
    font-size: 24px;
  }

  #header {
    height: calc(100vh - 80px);
    background-size: cover;
    background-position: top;
    background-image: url(img//thumbs_up/thumbs_up_tablet.png);
  }

  .slogan {
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 20%;
    width: 500px;
    font-size: 124px;
  }

  .btn-certify-me {
    bottom: 10%;
    padding: 15px;
    font-size: 32px;
    border-width: 3px;
    font-size: 36px;
  }
  
  .btn-certify-me:active {
    font-size: 32px;
  }
  
  .topics {
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
  }

  .topic {
    width: 250px;
    height: 130px;
  }

  #certifications {
    margin: 100px 0% 100px 0%;
  }

  /*   ABOUT   */

  #about, #contact {
    width: 60%;
  }


  /*  Footer  */
  footer {
    padding: 80px 0px;
    width: 40vw;
  }
  
  /*  Quiz Screen  */
  #certification-quiz {
    height: 80%;
    width: 80%;
  }
  #title-box, #question-box, #results-box {
    margin: 15% 10% 30% 10%; 
  }
  
  #quiz-title, #question-title, #results-title {
    font-size: 42px;
  }
  
  #quiz-description, #question-description, #results-description{
    margin-top: 10%;
    font-size: 18px;
    line-height: 27px;
  }
  
  #button-start, #button-next, #results-download, #dumbass-download {
    top: 50vh;
    font-size: 36px;
  }
  
  #options-box {
    margin-top: 10%;
  }
  
  .option-box {
    margin: 0px 0px 16px 0px;
  }
  
  .option-text, .option-selector {
    font-size: 18px;
    line-height: 27px;
  }
  
  .option-text {
    margin-left: 18px;
  }
  
  #close {
    margin: 70vh 0% 0px 50%;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
  }
}

/* ------------------------------------------- Desktops and laptops ---------------------------------------------- */
@media only screen  and (min-width : 1024px) {

  #navigation {
    padding: 20px 5% 20px 5%;
    grid-template-columns: 60% 1fr 1fr 1fr;
    height: 80px;
  }

  #header {
    background-image: url(img//thumbs_up/thumbs_up_web_medium.png);
  }

  .slogan {
    left: 5%;
    top: 5%;
    width: 500px;
    font-size: 106px;
  }

  .btn-certify-me {
    bottom: 10%;
    padding: 15px;
    border-width: 3px;
    font-size: 36px;
  }

  .btn-certify-me:hover {
    font-size: 38px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.30);
  }
  
  .btn-certify-me:active {
    font-size: 36px;
  }

  .topics {
    grid-template-columns: 1fr 1fr 1fr;
  }

  #certification-quiz {
    height: 90%;
    width: 60%;
  }
  #title-box, #question-box, #results-box {
    margin: 10% 10% 10% 10%; 
  }
  
  #quiz-title, #question-title, #results-title {
    font-size: 42px;
  }
  
  #quiz-description, #question-description, #results-description{
    margin-top: 5%;
    font-size: 18px;
    line-height: 27px;
  }
  
  #button-start, #button-next, #results-download, #dumbass-download {
    top: 65vh;
    font-size: 36px;
  }
  
  #options-box {
    margin-top: 5%;
  }
  
  .option-box {
    margin: 0px 0px 18px 0px;
  }
  
  .option-text, .option-selector {
    font-size: 18px;
    line-height: 27px;
  }
  
  .option-text {
    margin-left: 18px;
  }
  
  #close {
    margin: 5% 0% 0px 95%;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
  }

}

/* --------------------------------- Large screens --------------------------------- */
@media only screen  and (min-width : 1824px) {



}
